{%extends "base.front.twig"%}
{% block style %}
{% endblock %}
{%  block js %}
{% endblock %}
{% block jshead %}

{% endblock %}
{% block body %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/7.jpg);">
        <div class="auto-container clearfix">
            <h1>About Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- About Us -->
    <section class="about-us">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>About Us</h2>
                        </div>
                        <div class="about-years"><span class="years">35</span><h3>Years Of Experience</h3></div>
                        <div class="text-box">
                            <p>Our commitment to bring <a href="about.html#">professionalism</a>, good service & trust to the home repair service & maintenance business. We take immense pride in sending some of the most of professional handymen to yours homes to fix things that aren't workings. </p>
                        </div>
                        <ul class="list-style-one">
                            <li>Quis nostrud exer citation.</li>
                            <li>Exercitation ullamco laboris nis.</li>
                            <li>Commodo consequat duis autex.</li>
                        </ul>
                        <div class="bottom-box clearfix">
                            <div class="signature"><img src="images/resource/signature.png" alt=""></div>
                            <h4 class="name">Virgina Pankow <span>Carpenter & Founder</span></h4>
                            <div class="btn-box">
                                <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="video-box wow fadeIn">
                            <figure class="image"><img src="images/resource/about-us-2.jpg" alt=""></figure>
                            <a href="https://www.youtube.com/watch?v=fi-CmIeht24" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon flaticon-play-button-3" aria-hidden="true"></i><span class="ripple"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->

    <!-- Call To Action -->
    <section class="call-to-action alternate" style="background-image: url(images/background/13.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <h2>Provide You The Highest Quality Work <br>That Meets Your Expectation.</h2>
                <div class="link-box"><a href="contact.html" class="theme-btn btn-style-three"><span class="btn-title">Get a Quote</span></a></div>
            </div>

            <!-- Fact Counter -->
            <div class="fact-counter">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-column">
                            <div class="count-box"><span class="count-text" data-speed="3000" data-stop="30">0</span>+</div>
                            <h4 class="counter-title">Years of Carpenting <br>Experience</h4>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner-column">
                            <div class="count-box"><span class="count-text" data-speed="3000" data-stop="58">0</span>+</div>
                            <h4 class="counter-title">Local Branches in <br>City New York</h4>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                        <div class="inner-column">
                            <div class="count-box"><span class="count-text" data-speed="3000" data-stop="400">0</span></div>
                            <h4 class="counter-title">Happy Customer <br>with our work</h4>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                        <div class="inner-column">
                            <div class="count-box"><span class="count-text" data-speed="3000" data-stop="80">0</span>+</div>
                            <h4 class="counter-title">Best teams with <br>dedicat carpenter</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

    <!--Fluid Section One-->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Why Choose Us?</h2>
                    </div>
                    <div class="text-box">
                        <p>Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur cepteur sint occaecat.</p>
                    </div>
                    <div class="row">
                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6">
                            <div class="inner-box">
                                <span class="icon flaticon-24-hours"></span>
                                <h4>Available 24/7</h4>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6">
                            <div class="inner-box">
                                <span class="icon flaticon-artificial-intelligence"></span>
                                <h4>Creative ideas</h4>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6">
                            <div class="inner-box">
                                <span class="icon flaticon-handshake"></span>
                                <h4>Customer Focused</h4>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6">
                            <div class="inner-box">
                                <span class="icon flaticon-rocket-ship"></span>
                                <h4>Fast Delivery</h4>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column" style="background-image:url(images/resource/image-2.jpg);">
                <figure class="image-box"><img src="images/resource/image-2.jpg" alt=""></figure>
            </div>
        </div>
    </section>
    <!-- End Fluid Section -->

    <!-- Testimonial Section Two -->
    <section class="testimonial-section-two style-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>What Clients Says</h2>
                <div class="text">You read our clients review <br>check this now</div>
            </div>

            <!-- Testimonial Carousel -->
            <div class="testimonial-carousel-two owl-carousel owl-theme">
                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/testi-thumb-2.jpg" alt=""></div>
                            <h5 class="name">Hank Morriso</h5>
                            <span class="address">Washington</span>
                        </div>
                        <div class="text">Mistaken idea of denouncing pleasure and praising pain was born, I will give you a complete account of the system.</div>
                    </div>
                </div>

                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/testi-thumb-3.jpg" alt=""></div>
                            <h5 class="name">Tom Hanks</h5>
                            <span class="address">Los Angeles</span>
                        </div>
                        <div class="text">Mistaken idea of denouncing pleasure and praising pain was born, I will give you a complete account of the system.</div>
                    </div>
                </div>

                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/testi-thumb-2.jpg" alt=""></div>
                            <h5 class="name">Hank Morriso</h5>
                            <span class="address">Washington</span>
                        </div>
                        <div class="text">Mistaken idea of denouncing pleasure and praising pain was born, I will give you a complete account of the system.</div>
                    </div>
                </div>

                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/testi-thumb-3.jpg" alt=""></div>
                            <h5 class="name">Tom Hanks</h5>
                            <span class="address">Los Angeles</span>
                        </div>
                        <div class="text">Mistaken idea of denouncing pleasure and praising pain was born, I will give you a complete account of the system.</div>
                    </div>
                </div>

                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/testi-thumb-2.jpg" alt=""></div>
                            <h5 class="name">Hank Morriso</h5>
                            <span class="address">Washington</span>
                        </div>
                        <div class="text">Mistaken idea of denouncing pleasure and praising pain was born, I will give you a complete account of the system.</div>
                    </div>
                </div>

                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/testi-thumb-3.jpg" alt=""></div>
                            <h5 class="name">Tom Hanks</h5>
                            <span class="address">Los Angeles</span>
                        </div>
                        <div class="text">Mistaken idea of denouncing pleasure and praising pain was born, I will give you a complete account of the system.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial Section -->

    <!-- Call Back Section -->
    <section class="call-back-section" style="background-image: url(images/background/14.jpg);">
        <div class="auto-container">
            <div class="outer-box">
                <div class="row no-gutters">
                    <!-- Text Column -->
                    <div class="text-column col-xl-8 col-lg-12 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="inner">
                                <div class="message"><strong>20 Years of Experience </strong><br> in Woodworks Business Services</div>
                                <div class="text">Send us a email and we’ll get in touch shortly, or phone between 9:00AM to 5:00PM Monday to Friday - We would be delighted to speak.</div>

                                <div class="row">
                                    <!-- Info Block -->
                                    <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                        <div class="inner-box">
                                            <div class="icon flaticon-phone"></div>
                                            <ul>
                                                <li><strong>Phone</strong></li>
                                                <li><a href="about.html#">(+888) 222 6789</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Info Block -->
                                    <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                        <div class="inner-box">
                                            <div class="icon flaticon-email"></div>
                                            <ul>
                                                <li><strong>Email</strong></li>
                                                <li><a href="mailto:example@email.com">Example@email.com</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Info Block -->
                                    <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                        <div class="inner-box">
                                            <div class="icon flaticon-worldwide"></div>
                                            <ul>
                                                <li><strong>Location</strong></li>
                                                <li>Melbourne, Austalia</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Form Column -->
                    <div class="form-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="request-form">
                                <h3>Request A Quote</h3>

                                <!--Comment Form-->
                                <form method="post" action="blog.html">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <input type="text" name="username" placeholder="Name" required>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <input type="email" name="email" placeholder="Email" required>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <input type="text" name="phone" placeholder="Phone" required>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <textarea name="message" placeholder="Massage"></textarea>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <button class="theme-btn btn-style-four" type="submit" name="submit-form"><span class="btn-title">Submit Now</span> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call Back Section -->

    <!--Clients Section-->
    <section class="clients-section">
        <div class="auto-container">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="about.html#"><img src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--End Clients Section-->
{% endblock %}