{% extends 'base.html.twig' %}

{% block title %}Edit SefareshatProduct{% endblock %}

{% block body %}
    <h1>Edit SefareshatProduct</h1>

    {{ include('sefareshat_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sefareshat_product_index') }}">back to list</a>

    {{ include('sefareshat_product/_delete_form.html.twig') }}
{% endblock %}
