<form method="post" action="{{ path('app_sefareshat_delete', {'id': sefareshat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sefareshat.id) }}">
    <button class="btn">Delete</button>
</form>
