{% extends 'base.html.twig' %}

{% block title %}Edit Sefareshat{% endblock %}

{% block body %}
    <h1>Edit Sefareshat</h1>

    {{ include('sefareshat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sefareshat_index') }}">back to list</a>

    {{ include('sefareshat/_delete_form.html.twig') }}
{% endblock %}
