{% extends 'base.html.twig' %}

{% block title %}New Sefareshat{% endblock %}

{% block body %}
    <h1>Create new Sefareshat</h1>

    {{ include('sefareshat/_form.html.twig') }}

    <a href="{{ path('app_sefareshat_index') }}">back to list</a>
{% endblock %}
