{% extends "base.html.twig" %}
{% block title %}a{% endblock title %}
{% block css %}
{% endblock css %}
{% block jshead %}
{% endblock jshead %}
{% block body %}
    <h1>قالب انتخابی شما خریداری نشده</h1>
    {{ info.product }}
{% endblock body %}
{% block js %}

{% endblock %}